<a id="voltar" href="/">
  <button id="voltar-btn">Voltar</button>
</a>
<h1 id="titulo-principal">Pesquisar GIFS pelo nome</h1>
<form action="/">
  <label for="term">Termo de pesquisa:</label>
  <input type="text" id="term" name="term" placeholder="Insira o termo..." required>
  <br>
  <label for="limit">Quantidade de gifs:</label>
  <select name="limit">
    <option value="1">1</option>
    <option value="5">5</option>
    <option value="10" selected>10</option>
    <option value="15">15</option>
  </select>
  <br>
  <button type="submit">Pesquisar</button>
</form>

<div class="gifs-container">
  {{#each gifs}}
  <div class="gif-container">
    <a href="{{this.images.fixed_height.url}}">
      <img src="{{this.images.fixed_height.url}}" alt="{{this.title}}">
    </a>
    <p class="gif-title">Nome do gif: {{this.title}}</p>
    <p class="gif-username">Autor: {{this.username}}</p>
  </div>
{{/each}}
</div>