<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Gif aleatório</title>
  <a id="voltar" href="/">
    <button >Voltar para a página inicial</button>
  </a>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <h1>Random GIF</h1>
    <button id="new-gif-button" onclick="location.href='/random'">New GIF</button>
    {{#if gif}}
    <div class="gif-container">
      <a href="{{gif.images.original.url}}">
        <img src="{{gif.images.fixed_height.url}}" alt="{{gif.title}}">
      </a>
      <p class="gif-title">Nome do gif: {{gif.title}}</p>
      <p class="gif-username">Autor: {{gif.username}}</p>
    </div>
    {{else}}
    <p>Nenhum gif encontrado =(</p>
    {{/if}}
  </div>
  <style>
    .gif-container {
      text-align: center;
      margin: 10px;
    }
    .gif-title, .gif-username {
      font-size: 12px;
      margin: 5px 0;
    }
  </style>
</body>
</html>